.vs
AssetBundles
Library
Logs
obj
Packages
Temp
ProjectSettings
*.sln
*.user
*.csproj
*.unitypackage
*.xml
*.xml.meta
*.png
*.png.meta
*.asset
*.asset.meta
*.exr
*.exr.meta
Assets/GeneratedAssets
Builds
Assets/Addons
Assets/BakeryLightmaps
Assets/BakeryLightmaps.meta
bakery_times.log
Assets/Addons.meta
